# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# AI Models & Temp files
*.pt
*.pth
*.webm
*.wav
*.mp3
*.m4a
tmp/
temp/

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
